div.app-content-actions{
    display: none !important;
}
label{
    padding: 1.5rem;
    display: inline-block;
    color: white;
    position: relative;
    left: 46%;
    margin-top: 25px;
}
select.SeleecionarOption {
    MARGIN-LEFT: 63px;
    word-wrap: normal;
    width: 13rem;
}
button#IngresarProducto{
    padding: 4px 47px;
    background-color: #0d6efd;
    border: none !important;
    border-radius: 10px;
    position: relative;
    float: right;
    right: 68px;
    margin-top: 39px;
}
button#IngresarProducto:hover{
    background-color:  #0b5ed7;
    color: white;
}
