@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300&family=Open+Sans&family=Orbitron:wght@600&display=swap');
*{
  box-sizing: border-box;
  font-family: 'Orbitron', sans-serif;
  margin: auto;
}
html {
  scroll-behavior: smooth;
}
div.index{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url(../img/PORTADAS/3.jpg) !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-size: cover !important;
  height: 100vh; 
  width: 100vw; 
}
div.StartTheGame{
    background: url(../img/C1.0/1.jpg) !important;
    background-repeat: no-repeat !important;
    background-position: bottom !important;
    background-size: 138% !important;
    height: 100vh;
    width: 100vw;
}
div.aventurasTaky{
    background: url(../img/C1.0/1.jpg) !important;
    background-repeat: no-repeat !important;
    background-position: bottom !important;
    background-size: 138% !important;
    height: 100vh;
    width: 100vw;
}
div.LunaA_Marte{
    background: url(../img/C1.1/1.jpg) !important;
    background-repeat: no-repeat !important;
    background-position: bottom !important;
    background-size: 138% !important;
    height: 100vh;
    width: 100vw;
}
div.container-title{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0.5, 0.1);
}
h1{
  font-size: 6rem;
  color: white;
}
h5{
  font-size: 3rem;
  color: white;
}
h6{
    font-size: 2rem;
    color: white;
}
img.cordenadas{
  position: absolute;
  top: 5%;
  right: 3%;
}
img.eyes{
    position: absolute;
    top: 15%;
    right: 3%;
  }
img.bottom-image {
    position: absolute;
    bottom: 19%;
    left: 16%;
    transform: translateX(-50%);
}
body {
  margin: 0;
  box-sizing: border-box;
  font-family: "poppins";
  letter-spacing: 1px;
  transition: background 0.2s ease;
  -webkit-transition: background 0.2s ease;
  -moz-transition: background 0.2s ease;
  -ms-transition: background 0.2s ease;
  -o-transition: background 0.2s ease;
}
div.container-hijo{
    margin-left: 10px;
}
div.container-adventure-Takys{
    position: absolute;
    top: 3%;
    left: 3%;
    padding: 15px 20px;
}
div.container{
    justify-content: space-evenly;
    margin-left: 10px;
}
div.frames{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: auto;
    min-height: auto;
    min-width: auto;
}
div.contenedor-cards{
    position: relative;
    top: 40%;
    display: flex;
    justify-content: center;
    margin: 0;
    width: 100%;
    color: white;
}
div.cuadrados{
    width: 32%;
    background: #060642;
    height: 200px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
div#Cuadrado-1{
    background-image: url(../img/C1.0/0.jpg);
    background-size: contain;
}
/*BOOSTRAP*/
[class*="col-"]{
  float: left;
  padding: 10px;
}
@media (max-width: 1199px) and (min-width: 992px){/*IPAD HECHADO*/
  .col-md-12{
      width: 100% ;
  }
  .col-md-6{
      width: 50%;
  }
  .col-md-4{
      width: 33.33333333%;
  }
  .col-md-3{
      width: 25% ;
  }
  .col-md-9{
      width: 75%;
  }
  .col-md-7{
      width: 58.33333333%;
  }
  .col-md-5{
      width: 41.66666666%;
  }
  .col-md-8{
      width: 66.66666666%;
  }
  .col-md-2{
      width: 16.66666666%;
  }
  .col-md-1{
      width: 8.33333333%;
  }
  .col-md-10{
      width: 83.33333333% !important;
  }
  .col-md-11{
      width: 91.66666666%;
  }
  .col-md-0{
      display: none !important;
  }
}
/*Pantallas pequeñas, mayores a 768 a 991 (sm) ---> col-sm*/
@media (max-width: 991px) and (min-width: 761px){/*IPAD NORMAL*/
  .col-sm-12{
      width: 100% !important;
  }
  .col-sm-6{
      width: 50%;
  }
  .col-sm-4{
      width: 33.33333333%;
  }
  .col-sm-3{
      width: 25%;
  }
  .col-sm-9{
      width: 75%;
  }
  .col-sm-7{
      width: 58.33333333%;
  }
  .col-sm-5{
      width: 41.66666666%;
  }
  .col-sm-8{
      width: 66.66666666%;
  }
  .col-sm-2{
      width: 16.66666666%;
  }
  .col-sm-1{
      width: 8.33333333%;
  }
  .col-sm-10{
      width: 83.33333333%;
  }
  .col-sm-11{
      width: 91.66666666%;
  }
  .col-sm-0{
      display: none !important;
  }
}

@media (max-width: 767px){/*Cel parado*/
  .col-xs-12{
      width: 100% !important;
  }
  .col-xs-6{
      width: 50%;
  }
  .col-xs-4{
      width: 33.33333333%;
  }
  .col-xs-3{
      width: 25%;
  }
  .col-xs-9{
      width: 75%;
  }
  .col-xs-7{
      width: 58.33333333%;
  }
  .col-xs-5{
      width: 41.66666666%;
  }
  .col-xs-8{
      width: 66.66666666%;
  }
  .col-xs-2{
      width: 16.66666666%;
  }
  .col-xs-1{
      width: 8.33333333%;
  }
  .col-xs-10{
      width: 83.33333333%;
  }
  .col-xs-11{
      width: 91.66666666%;
  }
  .col-xs-0{
      display: none !important;
  }
  section div.container div#Company-Hytorc img.Company-Pets, section div.container div#Company-Tresnak img.Company-Pets{
      display: none;
  }
}
@media (min-width:667px) and (max-width:767px){ /*Cel Hechado*/
  .col-xp-12{
      width: 100%;
  }
  .col-xp-6{
      width: 50%;
  }
  .col-xp-4{
      width: 33.33333333%;
  }
  .col-xp-3{
      width: 25%;
  }
  .col-xp-9{
      width: 75%;
  }
  .col-xp-7{
      width: 58.33333333%;
  }
  .col-xp-5{
      width: 41.66666666%;
  }
  .col-xp-8{
      width: 66.66666666%;
  }
  .col-xp-2{
      width: 16.66666666%;
  }
  .col-xp-1{
      width: 8.33333333%;
  }
  .col-xp-10{
      width: 83.33333333%;
  }
  .col-xp-11{
      width: 91.66666666%;
  }
  .col-xp-0{
      display: none !important;
  }
  section div.container div#Company-Hytorc img.Company-Pets, section div.container div#Company-Tresnak img.Company-Pets{
      display: none;
  }
  section div.container{
      height: 100vh;
      
  }
}
