section nav div.container div#navbarNav div.navbar-nav{
  background-color: #CC3333;
  opacity: 1;
  background: radial-gradient(circle, transparent 20%, #CC3333 20%, #CC3333 80%, transparent 80%, transparent), radial-gradient(circle, transparent 20%, #CC3333 20%, #CC3333 80%, transparent 80%, transparent) 12.5px 12.5px, linear-gradient(#171A50 1px, transparent 1px) 0 -0.5px, linear-gradient(90deg, #171A50 1px, #CC3333 1px) -0.5px 0;
  background-size: 25px 25px, 25px 25px, 12.5px 12.5px, 12.5px 12.5px;
}
section div.container div#Company-Tresnak{
  background-color: #171a50;
  opacity: 1;
  background: radial-gradient(circle, transparent 20%, #171A50 20%, #171A50 80%, transparent 80%, transparent), radial-gradient(circle, transparent 20%, #171A50 20%, #171A50 80%, transparent 80%, transparent) 10px 10px, linear-gradient(#CC3333 0.8px, transparent 0.8px) 0 -0.4px, linear-gradient(90deg, #CC3333 0.8px, #171A50 0.8px) -0.4px 0;
  background-size: 20px 20px, 20px 20px, 10px 10px, 10px 10px;
}
section div.container div.Select-Company{
  position: relative;
  width: 50%;
  height: 100%;
  float: left;
}
section div.container form#Login-Form {
  position: absolute;
  background-color: rgba(255, 255, 255, 0);
  padding: 20px;
  width: 300px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3; /* Asegura que el formulario esté sobre las imágenes de las mascotas */
  backdrop-filter: blur(20px);
}

section div.container div#Company-Tresnak img.Pet-Tresnak {
  position: absolute;
  top: 24%;
  left: 125px;
  width: 70%;
  filter: brightness(100%); /* Asegura que esta imagen esté detrás del formulario */
}
section div.container div#Company-Hytorc img.Pet-Hytorc{
  position: absolute;
  top: 24%;
  right: 125px;
  width: 70%;
  filter: brightness(100%);
}
#Action1{
    display: none;
}
#Action2{
    display: none;
}
#Action3{
    display: none;
}
#end{

    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    justify-content: center;
    align-items: center;
}
section div#PrimaryContainer{
    width: 85% !important;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 537px;
}
.container{
  animation: myAnim 3s ease 0s 1 normal forwards;
}
label.Text, a.Footer-Form{
  color: #ffff00;
  margin-bottom: 20px;
  
}
@keyframes myAnim {
0% {
  animation-timing-function: ease-in;
  opacity: 1;
  transform: translateX(-48px);
}

24% {
  opacity: 1;
}

40% {
  animation-timing-function: ease-in;
  transform: translateX(-26px);
}

65% {
  animation-timing-function: ease-in;
  transform: translateX(-13px);
}

82% {
  animation-timing-function: ease-in;
  transform: translateX(-6.5px);
}

93% {
  animation-timing-function: ease-in;
  transform: translateX(-4px);
}

25%,
55%,
75%,
87%,
98% {
  animation-timing-function: ease-out;
  transform: translateX(0px);
}

100% {
  animation-timing-function: ease-out;
  opacity: 1;
  transform: translateX(0px);
}
}
@keyframes wobble {
  0% {
      transform: scale(1.025);
      -webkit-transform: scale(1.025);
      -moz-transform: scale(1.025);
      -ms-transform: scale(1.025);
      -o-transform: scale(1.025);
  }
  25% {
      transform: scale(1);
      -webkit-transform: scale(1);
      -moz-transform: scale(1);
      -ms-transform: scale(1);
      -o-transform: scale(1);
  }
  75% {
      transform: scale(1.025);
      -webkit-transform: scale(1.025);
      -moz-transform: scale(1.025);
      -ms-transform: scale(1.025);
      -o-transform: scale(1.025);
  }
  100% {
      transform: scale(1);
      -webkit-transform: scale(1);
      -moz-transform: scale(1);
      -ms-transform: scale(1);
      -o-transform: scale(1);
  }
}
  